@{
    @using WebCoreFrontend.Models;
    @model IEnumerable<Centre>;

}
<div id="navigation">
    <ul>
        <li> <a href="javascript:void(0);" onclick="loadBookings()" >Bookings</a></></li>
        <li> <a href="javascript:void(0);" onclick="loadCentres()" >Centres</a></></li>
    </ul>
</div>
<h3>Centres</h3>
<div id="Centreview" style="width: 100%">
    <table id="centreTable" style="width: 33%;float:left;">
        <caption>Centre List</caption>
        <tr>
            <th>Id</th>
            <th>Centre Name</th>
            <th></th>
        </tr>
        @foreach (var centre in Model)
        {
            <tr>
                <td>@centre.Id</td>
                <td>@centre.Name</td>
                <td><button id="deleteStu">Delete</button></td>
            </tr>
        }
    </table>
    <div style="width: 33%;float:right;">
        <label for="centreName">Centre Name</label>
        <input type="text" id="centreName" name="centreName" placeholder="Centre Name"/>
        <button id="create" onclick="create()">Create</button>
    </div>
</div>
<script>
    var tab = document.getElementById("centreTable");
    var tr = tab.getElementsByTagName("tr");

    for (var i = 0; i < tr.length; i++)tr[i].onclick = function () {
        var thisTR = this.innerHTML;//content
        var id = $(this).children().eq(0).text();//first td
        deleteStu(id)
    }

    function deleteStu(id) {

        $.ajax({
            url: '/centres/deletecentre/?id='+id,
            type: 'delete',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                alert("Data Dleted");
            },
            error: function (xhr, textStatus, error) {
                alert("Error: " + xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

    function create() {
        $.ajax({
            type: 'POST',
            url: '/centres/createcentre/',
            contentType: 'application/json',
            data: JSON.stringify(
                {
                    "Name": $('#centreName').val(),
                    "Id": null
                }),
            success: function (data, textStatus, jQxhr) {
                alert("Data created");
            },
            error: function (xhr, textStatus, error) {
                alert("Error: " + xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

</script>