@{
    @using WebCoreFrontend.Models;
    @model IEnumerable<Centre>;

}
<h3>Bookings</h3>
<div style="width: 100%;">
        <div style="width: 33%;float:left;">
            <label for="centreName">Search a Centre</label>
            <input type="text" id="centreName" name="Id" placeholder="Centre Name" />
            <button id="search" onclick="search()">Search</button>
        </div>
        <div style="width: 33%;float:left;" id="centresResult">
        </div>
        <div style="width: 33%;float:left;">
            <label for="nextAvaiDate">Next Avaliable Date:</label>
            <p id="nextAvaiDate" ></p>
        </div>
</div>
<div style="width: 100%;">
    <p>
        <div style="width: 25%;">
            <label for="start">Start Date:</label>
            <input type="date" id="start" name="trip-start"
                   onload="getDate()">
        </div>
        <div style="width: 25%;float:left;">
            <label for="start">End Date:</label>
            <input type="date" id="end" name="trip-start">
        </div>
    </p>
    <div style="width: 25%;float:left;">
        <label for="UserName">User Name:</label>
        <input type="text" id="UserName" name="trip-start"/>
    </div>
    <div style="width: 25%;float:left;">
        <button style="margin: 35px 20px 20px 0px;" onclick="booking()">Booking</button>
    </div>
</div>

<script>

var today_str = format_date(new Date());
document.getElementById("start").value = today_str;
document.getElementById("end").value = today_str;

    function search() {
        $.ajax({
            url: '/centres/search/?name=' + $('#centreName').val(),
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function (data, textStatus, jQxhr) {
                console.log(data);
                $( "#centresResult" ).empty();
                var $label = $("<label>").text('Centres:');
                $('#centresResult').append($label);
                for (i =0; i < data.length; i++) {
                    var radioBtn = $("<label><input type='radio' name='centreName' onclick='centreChanged()' value='"+data[i].id+"' id='myCentre"+i+"'>"+data[i].name+"</label>");
                    $('#centresResult').append(radioBtn);
                }
            },
            error: function (xhr, textStatus, error) {
                alert("Error: " + xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }


    function format_date(date){
        return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
    }


    function booking(){
        console.log("booking from "+ $('#start').val() + " to " + $('#end').val() + " with centre " +$('#centreSelect').find(":selected").text());
        $.ajax({
            type: 'POST',
            url: '/bookings/insert/',
            contentType: 'application/json',
            data: JSON.stringify(
                {
                    "UserName": $("#UserName").val(),
                    "StartDate": $("#start").val(),
                    "EndDate": $("#end").val(),
                    "CentreId": $('#centresResult').find(":checked").val()
                }),
            success: function (data, textStatus, jQxhr) {
                centreChanged();
                alert("Booking Successfully");
            },
            error: function (xhr, textStatus, error) {
                alert("Error: " + xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

    function centreChanged() {
        centreId = $('#centresResult').find(":checked").val();
        console.log(centreId);
        // get nextAvaliableDate by centre id
        if (centreId) {
            $.ajax({
                url: '/bookings/nextAvaliableDate/?centreId=' + centreId,
                type: 'get',
                contentType: 'application/json',
                processData: false,
                success: function (data, textStatus, jQxhr) {
                    var nextAvaiDate = format_date(new Date(data))
                    document.getElementById('nextAvaiDate').innerHTML=nextAvaiDate;
                    document.getElementById("start").value=nextAvaiDate;
                    document.getElementById("end").value=nextAvaiDate;
                    //alert("Booking searched by " + centreId);
                },
                error: function (xhr, textStatus, error) {
                    alert("Error: " + xhr.responseText);
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            });
        }
    }

    function loadData(list){
        console.log(list);
        var table = document.getElementById('dataTableDetail')
        var rowCount = table.rows.length;
        for (var x=rowCount-1; x>0; x--) {
           table.deleteRow(x);
        }
        for (i =0; i < list.length; i++) {
            var row=table.insertRow(-1);
            var id = row.insertCell(0)
            var name = row.insertCell(1);
            var start = row.insertCell(2);
            var end = row.insertCell(3);
            var centre = row.insertCell(4);
            id.innerHTML=list[i].id;
            name.innerHTML=list[i].userName;
            start.innerHTML=format_date(new Date(list[i].startDate));
            end.innerHTML=format_date(new Date(list[i].endDate));
            centre.innerHTML=list[i].centre.name;
        }
    }

</script>